<!-- your html code here -->
<div class="card mb-3" style="max-width: 540px;">
    <div class="row g-0">
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">This First Heading Will Catch Your Eye</h5>
          <p class="card-text">Donac ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
      </div>
        <div class="col-md-4">
          <img src="..." class="img-fluid rounded-start" alt="...">
        </div>
    </div>
  </div>