<!-- your html code here -->
<h1>Portafolio</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse itaque cumque necessitatibus quos rem voluptas veritatis sit adipisci atque nulla porro laborum distinctio, laudantium praesentium alias ullam possimus. Aperiam, ab?</p>
<div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <div class="bg-secondary text-white text-center" style="height: 200px; display: flex; justify-content: center; align-items: center;">
                        <span style="font-size: 1.5em;">700×400</span>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Project Name</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="bg-secondary text-white text-center" style="height: 200px; display: flex; justify-content: center; align-items: center;">
                        <span style="font-size: 1.5em;">700×400</span>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Project Name</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="bg-secondary text-white text-center" style="height: 200px; display: flex; justify-content: center; align-items: center;">
                        <span style="font-size: 1.5em;">700×400</span>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Project Name</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>